#### Example .env

ACROSS_SERVER_HOST="localhost"
# Port is really only needed for local development.
ACROSS_SERVER_PORT="8000"
ACROSS_SERVER_ROOT_PATH="/"
ACROSS_SERVER_VERSION="v1"

# Treedome Automation Service Account Seed in across-server for local testing only
ACROSS_SERVER_ID="961fbb3b-dd5e-45ff-a282-41033e43933d"
ACROSS_SERVER_SECRET="prehibernationweek"
